---
import Layout from "../../layouts/Layout.astro";
import { ForgotPasswordForm } from "../../components/ForgotPasswordForm";
---

<Layout title="Zapomniałeś hasła? - 10x Cards">
  <div class="min-h-screen flex items-center justify-center bg-background px-4 py-12">
    <ForgotPasswordForm client:load />
  </div>
</Layout>

