---
import Layout from "../../layouts/Layout.astro";
import { LoginForm } from "../../components/LoginForm";
---

<Layout title="Zaloguj się - 10x Cards">
  <div class="min-h-screen flex items-center justify-center bg-background px-4 py-12">
    <LoginForm client:load />
  </div>
</Layout>

