---
import Layout from "../../layouts/Layout.astro";
import { ResetPasswordForm } from "../../components/ResetPasswordForm";
---

<Layout title="Resetowanie hasła - 10x Cards">
  <div class="min-h-screen flex items-center justify-center bg-background px-4 py-12">
    <ResetPasswordForm client:load />
  </div>
</Layout>
